nav.navdrawer-container.promote-layer
    div.nav-close
        img(src="/assets/images/mobile_nav_close.png" alt="Logo") 
    ul
        li.logo
            a(class='home' href='/')
                img(src="/assets/images/logo-mobile.png" alt="Logo")
        li
            a(class='services' href='/services.html') Services
        li
            a(class='people' href='/people.html') People
        li
            a(class='news' href='/news.html') News &amp; Insights
        li
            a(class='network' href='/network.html') Our Network
        li
            a(class='notebook' href='/notebook.html') Notebook
        li
            a(class='careers' href='/careers.html') Careers
        li
            a(class='contact' href='/contact.html') Contact