block variables

include ../../blocks/_region-html-head.jade
include ../../blocks/_region-header.jade
include nav
<main>
block main
include ../../blocks/_region-footer.jade
include ../../blocks/_region-html-end.jade
